

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Page

.page {
    .page-content {

        // Dashboard

        &.page-dashboard {
            .page-wrapper {

                // Primary
                
                &.primary {
                    .col-page-outer {
                        @include col-12;

                        @include px-4;

                        .col-page-inner {
                            @include col-6;

                            @include px-2;
                        }
                    }
                }
            }
        }
    }
}

// Icon

svg {
    &.icon-blue {
        color       : var(--color-blue);
    }

    &.icon-brown {
        color       : var(--color-brown);
    }

    &.icon-green {
        color       : var(--color-green);
    }

    &.icon-orange {
        color       : var(--color-orange);
    }

    &.icon-purple {
        color       : var(--color-purple);
    }
}

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;
    }

    // ----- Main ----- //

    // Page Title

    .page-title {

        // Primary

        &.primary {
            @include mt-4;

            .container {
                @include pb-0;
            }

            // Header

            .page-title-header {
                .header-text {
                    .title {
                        .text-title {
                            @include mb-0;
                        }
                    }
                }
            }
        }
    }

    // Progress Detail

    .progress-detail {

        // Primary

        &.primary {
            .section-wrapper {

                // Primary

                &.primary {
                    padding                 : calc(25 / var(--vw) * var(--multiplier));
                    
                    border                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);
                    border-radius           : calc(10 / var(--vw) * var(--multiplier));
                }
            }

            // Header

            .progress-detail-header {
                @include mb-5;

                .header-text {
                    .title {
                        .text-title {
                            @include mb-0;

                            @include h4;

                            font-weight     : var(--font-weight-semibold);
                        }
                    }
                }
            }

            // Content

            .progress-detail-content {
                .content-wrapper {

                    // Primary

                    &.primary {
                        > .wrapper-inner {
                            @include mb-3;

                            &:last-child {
                                @include mb-0;
                            }
                        }

                        .content-progress {
                            .progress-text {
                                .title {
                                    .text-title {
                                        > span {
                                            @include display-flex;

                                            @include align-items-center;

                                            @include h6;

                                            justify-content             : space-between;

                                            font-weight                 : var(--font-weight-medium);

                                            color                       : var(--color-grey);

                                            > span {
                                                &:first-child {
                                                    color               : var(--color-black); 
                                                }
                                            }
                                        } 
                                    }
                                }
                            }

                            .progress {
                                @include my-2;
                            }

                            .progress-caption {
                                .caption {
                                    > span {
                                        @include display-flex;

                                        @include align-items-center;

                                        @include h6;

                                        justify-content             : space-between;

                                        color                       : var(--color-grey);
                                    }
                                } 
                            }
                        }
                    }
                }
            }

            // Footer

            .progress-detail-footer {
                @include pt-3;
                @include mt-4;

                border-top                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);

                .footer-caption {
                    .caption {
                        > span {
                            @include display-flex;

                            @include align-items-center;

                            @include p;

                            justify-content             : space-between;

                            color                       : var(--color-grey);
                        }
                    }
                }
            }
        }
    }

    // Quick Access List

    .quick-access-list {

        // Primary

        &.primary {
            .section-wrapper {

                // Primary

                &.primary {
                    padding                 : calc(25 / var(--vw) * var(--multiplier));
                    
                    border                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);
                    border-radius           : calc(10 / var(--vw) * var(--multiplier));
                }
            }

            // Header

            .quick-access-list-header {
                margin-bottom              : calc(25 / var(--vw) * var(--multiplier));

                .header-text {
                    .title {
                        .text-title {
                            @include mb-0;

                            @include h4;

                            font-weight     : var(--font-weight-semibold);

                            svg {
                                @include mr-1;

                                width       : calc(20 / var(--vw) * var(--multiplier));
                                height      : calc(20 / var(--vw) * var(--multiplier));
                            }
                        }
                    }
                }
            }

            // Content

            .quick-access-list-content {
                .col-content-outer {
                    @include col-12;

                    @include px-4;

                    .col-content-inner {
                        @include col-3;

                        @include px-2;
                    }
                }

                .content-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;

                        @include text-align-center;

                        @include p-3;

                        border                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);
                        border-radius           : calc(7.5 / var(--vw) * var(--multiplier));

                        transition              : 0.5s var(--cubic-bezier-1);

                        .content-anchor {
                            @include position-absolute;

                            @include width-100;
                            @include height-100;

                            z-index             : 10;

                            top                 : 0;
                            left                : 0; 
                        }

                        .content-icon {
                            @include mb-1;

                            .icon {
                                svg {
                                    width       : calc(17.5 / var(--vw) * var(--multiplier));
                                    height      : calc(17.5 / var(--vw) * var(--multiplier));
                                }
                            }
                        }

                        .content-text {
                            .title {
                                .text-title {
                                    @include p;
                                    
                                    font-weight     : var(--font-weight-medium);
                                }
                            }
                        }

                        &:hover {
                            background              : var(--color-grey-super-light);
                        }
                    }
                }
            }
        }
    }

    // Statistic List

    .statistic-list {

        // Primary

        &.primary {

            // Content

            .statistic-list-content {
                .col-content-outer {
                    @include col-12;
                    
                    @include px-4;

                    .col-content-inner {
                        @include col-3;

                        @include px-2;
                    }
                }

                .content-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;
                        
                        @include display-flex;

                        @include align-items-center;

                        @include p-3;

                        justify-content         : space-between;

                        border                  : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-grey-light);
                        border-radius           : calc(7.5 / var(--vw) * var(--multiplier));

                        transition              : 0.5s var(--cubic-bezier-1);

                        > .wrapper-inner {
                            &:last-child {
                                flex-shrink         : 0;
                            }
                        }

                        .content-text {
                            .subtitle {
                                .text-subtitle {
                                    @include mb-0;

                                    @include p;

                                    font-weight     : var(--font-weight-medium);
                                }
                            }
                        }

                        .content-value {
                            .value {
                                > span {
                                    @include h4;
                                    
                                    font-weight     : var(--font-weight-bold);
                                }
                            }
                        }

                        .content-icon {
                            .icon {
                                svg {
                                    width           : calc(35 / var(--vw) * var(--multiplier));
                                    height          : calc(35 / var(--vw) * var(--multiplier));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


